body {
  margin: 0;
}

p,h1{
  margin-top: 0;
  margin-bottom: 0;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QuoteBox {
  background-color: white;
  width: 40%;
  border-radius: 15px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: .6em;
  box-shadow: 3px 3px 10px #0009;
}

.card_quote{
  display: flex;
}

.bx {
  align-self: flex-start;
  padding-top: 1em;
  font-size: 1em;
}

.quote {
  font-size: 1.1em;
  padding: 1em;
  text-align: center;
}

.card_name {
  align-self: flex-end;
  padding-right: 10%;
  padding-top: 0;
  font-size: 1.6em;
  text-align: center;
}

.btn_card {
  display: flex;
  flex-direction: column;
}

.card_button {
  align-self: flex-end;
  padding: 12px 20px;
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: filter 100ms transform 100ms;
}

.card_button:hover {
  filter: brightness(1.1);
  transform: scale(1.05);
  transition: filter 100ms transform 100ms;
}

@media (min-width: 600px) {
  .bx {
    padding-top: .5em;
    font-size: 2em;
  }
  .card_name {
    font-size: 2em;
  }
}

@media (min-width: 780px) {
  .card_button {
    margin-right: 1em;
    width: 15%;
  }
}

@media (min-width: 900px) {
  .bx {
    padding-top: .3em;
    font-size: 3em;
  }
}